@inject IStringLocalizer<App> Localizer

@if (BlockDestinations == null)
{
    <p>Wait...</p>
}
else
{
<div class="pagebreak">
    <h3>@Localizer["BlockDestinations"] @BlockDestinations.OriginStationName</h3>
    <div>
        @foreach (var track in BlockDestinations.Tracks)
        {
            <div class="blocking track">
                <div class="blocking track number">@Localizer["Track"] @track.TrackNumber</div>
                <div style="display: flex; flex-direction: column">
                    @foreach (var train in track.TrainBlocks)
                    {
                        <div style="display: flex; flex-direction: @train.FlexDirection(); justify-content:flex-start">
                            <div class="blocking track train">@train.Train.Display() @train.DepartureTime.Time</div>
                            @foreach (var destination in train.BlockDestinations)
                            {
                                <div class="blocking track destination" style="color : @destination.ForeColor; background-color: @destination.BackColor">
                                    @destination.FinalDestinationNameWithMaxWagons
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
}

@code {
    [Parameter]
    public BlockDestinations? BlockDestinations { get; set; }
}
