@inject IStringLocalizer<App> Localizer

@if (BlockDestinations == null)
{
    <p>Wait...</p>
}
else
{
    <div class="pagebreak-hard">
        <h3>@Localizer["BlockDestinations"] @BlockDestinations.OriginStationName</h3>
        @if (BlockDestinations.BlockIsMaxInTrain)
        {
            <p>@Localizer["NumberOfWagonsPerBlockIndicatesMaxInTrain"]</p>
        }
        else
        {
            <p>@Localizer["NumberOfWagonsPerBlockIndicatesMaxToBeSentFromThisStation"]</p>
        }
        <br />
        <div>
            @foreach (var track in BlockDestinations.Tracks)
            {
                <div class="track">
                    <div class="track number">@Localizer["Track"] @track.TrackNumber</div>
                    <div style="display: flex; flex-direction: column">
                        @foreach (var train in track.TrainBlocks)
                        {
                            <div style="display: flex; flex-direction: @train.FlexDirection(ReverseBlockDestinations); justify-content:flex-start">
                                <div class="track train">@train.Train.Display() @train.ArrivalTime.Time -  @train.DepartureTime.Time</div>
                                @foreach (var destinationGroup in train.BlockDestinations.GroupBy(bd => bd.OrderInTrain))
                                {
                                    <div class=" track destination">
                                        @foreach (var destination in destinationGroup.OrderBy(dg => dg.MaxNumberOfWagons))
                                        {
                                            @if (destination.IsRegion)
                                            {
                                                <div class="block destination" style="color : @destination.ForeColor; background-color: @destination.BackColor">
                                                    @destination.ToString()
                                                </div>
                                            }
                                            else if (destination.IsTrainset)
                                            {
                                               <div class="block destination" style="color : #000000; background-color: #FAFAFA">
                                                    @destination.ToString()
                                                </div>
                                             }
                                            else
                                            {
                                                <div class="block destination" style="color : #FFFFFF; background-color: #777777">
                                                    @destination.ToString()
                                                </div>
                                            }
                                        }
                                        @NumberOfWagons(destinationGroup)
                                    </div>
                                }

                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter] public BlockDestinations? BlockDestinations { get; set; }
    [Parameter] public bool ReverseBlockDestinations { get; set; }

    string NumberOfWagons(IEnumerable<BlockDestination> destinations)
    {
        var count = destinations.Sum(d => d.MaxNumberOfWagons);
        return count == 0 ? string.Empty : $"×{count}";

    }
}