@inject IStringLocalizer<App> Localizer

@if (BlockDestinations == null)
{
    <p>Wait...</p>
}
else
{
<div>
    <h3>@BlockDestinations.OriginStationName</h3>
    <div >
        @foreach (var track in BlockDestinations.TrackDestinations)
        {
            <div class="track">
                <div class="track number">@Localizer["Track"] @track.TrackNumber</div> :
                <div class="track loco">@Localizer["Loco"]</div>
                @foreach (var destination in track.BlockDestinations)
                {
                    <div style="color: @destination.ForeColor; background-color: @destination.BackColor" class="track destination">
                        @destination.FinalDestinationNameWithMaxWagons
                    </div>
                }
                <span>
                    &nbsp;
                </span>
            </div>
        }
    </div>
</div>
}

@code {
    [Parameter]
    public BlockDestinations? BlockDestinations { get; set; }
}
