@inject IStringLocalizer<App> Localizer

@if (BlockDestinations == null)
{
    <p>Wait...</p>
}
else
{
    <div>
        <h3>@BlockDestinations.OriginStationName</h3>
        <div>@Localizer["Not all trains take wagons to all block destinations"] @Localizer["Read train instructions to see to which destinations"]</div>
        <div>
            @foreach (var track in BlockDestinations.TrackDestinations)
            {
                <div class="blocking track" style="display: flex; flex-direction: @track.FlexDirection(); justify-content:flex-start">
                    <div class="blocking track number">@Localizer["Track"] @track.TrackNumber</div>
                    <div class="blocking track loco">@Localizer["Loco"]</div>
                    @foreach (var destination in track.BlockDestinations)
                    {
                        <div class="blocking track destination" style="color : @destination.ForeColor; background-color: @destination.BackColor">
                            @destination.FinalDestinationNameWithMaxWagons
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public BlockDestinations? BlockDestinations { get; set; }
}
