@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>

    <div class="frontpage">
        @if (Item != null)
        {
            <div class="schedulename">@Item.LayoutName</div>
            <div class="validity">@Item.ValidPeriod()</div>

            <div >
                <div>@Localizer["Duty"]</div>
                <div class="duty number">@Item.Number</div>
            </div>
            <div class="duty days"><strong>@Item.OperationDays.FullName</strong></div>
            @if (Item.Operator.HasValue())
            {
                <div class="duty operator">
                    <span>@Localizer["Operator"]</span>:
                    <span><strong>@Item.Operator</strong></span>
                </div>
            }
            <div class="duty time">
                <span>@Localizer["Starts"]</span>:
                <span><strong>@Item.StartTime()</strong></span>

                <span>@Localizer["Ends"]</span>:
                <span><strong>@Item.EndTime()</strong></span>
            </div>
             @if (Item.Description.HasValue())
            {
                <div class="duty description">@Item.Description</div>
            }
            <div class="duty description">@Item.TrainTypes()</div>
            @if (Item.Difficulty > 0)
            {
                <div class="duty difficulty" style="color: @DifficultyColor(Item.Difficulty)">@Localizer["Difficulty"]: <strong>@Item.Difficulty</strong></div>
            }
           <div class="printtime">@string.Format(CultureInfo.CurrentCulture, Localizer["PrintedTime"].Value, DateTime.Now)</div>
        }
    </div>
</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public DriverDuty? Item { get; set; }

    string DifficultyColor(int difficulty) => difficulty switch
    {
        0 => "black",
        1 => "green",
        2 => "orange",
        3 => "red",
        _ => "green"
    };
}
