@inject IStringLocalizer<App> Localizer

<div class="duty frame">

    <div class="duty content frontpage">
        @if (Item != null)
        {
            <div class="duty schedulename">@Item.LayoutName</div>

            <div>
                <div>@Localizer["Duty"]</div>
                <div class="duty number">@Item.Number</div>

            </div>
            <div><strong>@Item.OperationDays.FullName</strong></div>
            @if (Item.Operator.HasValue())
            {
                <div>
                    <span>@Localizer["Operator"]</span>:
                    <span><strong>@Item.Operator</strong></span>

                </div>
            }
            <div class="duty text">@Item.Description()</div>
            <div class="duty text">@Localizer["Difficulty"]: <strong>@Item.Difficulty</strong></div>
            <div>
                <span>@Localizer["Starts"]</span>:
                <span><strong>@Item.StartTime()</strong></span>

                <span>@Localizer["Ends"]</span>:
                <span><strong>@Item.EndTime()</strong></span>
            </div>
            <div style="font-size: 12pt">@string.Format(CultureInfo.CurrentCulture, Localizer["PrintedTime"].Value, DateTime.Now)</div>
        }
    </div>
    <div class="duty pagenumber">- @PageNumber -</div>
</div>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public DriverDuty? Item { get; set; }
}
