@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>

    <div class="frontpage">
        @if (Item != null)
        {
            <div class="schedulename">@Item.LayoutName</div>

            <div>
                <div>@Localizer["Duty"]</div>
                <div class="duty number">@Item.Number</div>
            </div>
            <div class="validity">@Item.ValidPeriod()</div>
            <div><strong>@Item.OperationDays.FullName</strong></div>
            @if (Item.Operator.HasValue())
            {
                <div>
                    <span>@Localizer["Operator"]</span>:
                    <span><strong>@Item.Operator</strong></span>

                </div>
            }
            @if (Item.Description.HasValue())
            {
                <div>@Item.Description</div>
            }
            <div>@Item.TrainTypes()</div>
            <div>@Localizer["Difficulty"]: <strong>@Item.Difficulty</strong></div>
            <div>
                <span>@Localizer["Starts"]</span>:
                <span><strong>@Item.StartTime()</strong></span>

                <span>@Localizer["Ends"]</span>:
                <span><strong>@Item.EndTime()</strong></span>
            </div>
            <div style="font-size: 12pt">@string.Format(CultureInfo.CurrentCulture, Localizer["PrintedTime"].Value, DateTime.Now)</div>
        }
    </div>
</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public DriverDuty? Item { get; set; }
}
