@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>

    <div class="frontpage">
        @if (Item != null)
        {
            <div class="schedulename">@Item.LayoutName</div>
            <div class="validity">@Item.ValidPeriod()</div>
            <hr />
            <div>
                <div>@Localizer["Duty"]</div>
                @if (Item is StationDuty d)
                {
                    <div class="duty stationname">@d.StationName</div>
                }
                else
                {
                    <div class="duty number">@Item.Number</div>

                }
                @if (HasInstructions)
                {
                    <div class="important">
                        <div>@Localizer["FirstReadInstructionsOnLastPage"]</div>
                    </div>
                }
                @if (Item is DriverDuty d0)
                {
                    <div class="duty days"><strong>@d0.OperationDays.FullName</strong></div>
                }
            </div>
            <div class="duty time">
                <span>@Localizer["Starts"]</span>:
                <span><strong>@Item.StartTime()</strong></span>

                <span>@Localizer["Ends"]</span>:
                <span><strong>@Item.EndTime()</strong></span>
            </div>
            @if (Item is DriverDuty d1)
            {
                @if (d1.Operator.HasValue())
                {
                    <div class="duty operator">
                        <span>@Localizer["Operator"]</span>:
                        <span><strong>@d1.Operator</strong></span>
                    </div>
                    @if (d1.Operator == "OHJ")
                    {
                        <img src="images/logos/OHJ.jpg" />
                    }
                }
            }
            <hr />
            @if (Item is DriverDuty d2)
            {
                <div class="duty description">@d2.TrainTypes()</div>
            }
            @if (Item.Description.HasValue())
            {
                <div class="duty description">@Item.Description</div>
            }
            @if (Item.Difficulty > 0)
            {
                <div class="duty difficulty" style="color: @DifficultyColor(Item.Difficulty)">@Localizer["Difficulty"]: <strong>@Item.Difficulty</strong></div>
            }
            <div class="printtime">@string.Format(CultureInfo.CurrentCulture, Localizer["PrintedTime"].Value, DateTime.Now)</div>
        }
    </div>
</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public Duty? Item { get; set; }
    [Parameter]
    public bool HasInstructions { get; set; } 


    string DifficultyColor(int difficulty) => difficulty switch
    {
        0 => "black",
        1 => "green",
        2 => "orange",
        3 => "red",
        _ => "green"
    };

    public override string ToString() => $"Page {PageNumber} duty {Item?.Number}";
}
