@inject IStringLocalizer<App> Localizer

@if (Departure != null)
{
    <PocketCardDoubleHeight>
        <div class="departure" style="display: block; transform: rotate(180deg)">
            <div class="station">@Departure.StationName</div>
            <div class="track">@Localizer["Track"] @Departure.TrackNumber</div>
            <div class="days">@Departure.Loco.OperationDays().ShortName</div>
            <div class="time">@Departure.DepartureTime.Time</div>
            <div class="train">@Departure.Train.Prefix @Departure.Train.Number</div>
            <div class="destination">@Departure.Train.Destination</div>
            <div class="loco">@TurnusText</div>
            <div class="loco">@LocoText</div>
        </div>
        <div class="departure" style="display: block;">
            <div class="station">@Departure.StationName</div>
            <div class="track">@Localizer["Track"] @Departure.TrackNumber</div>
            <div class="days">@Departure.Loco.OperationDays().ShortName</div>
            <div class="time">@Departure.DepartureTime.Time</div>
            <div class="train">@Departure.Train.Prefix @Departure.Train.Number</div>
            <div class="destination">@Departure.Train.Destination</div>
            <div class="loco">@TurnusText</div>
            <div class="loco">@LocoText</div>
        </div>
    </PocketCardDoubleHeight>
}


@code {
    [Parameter]
    public TrainDeparture? Departure { get; set; }

    private string Station =>
        Departure is null ? string.Empty :
        string.Format("{0}, {1} {2}", Departure.StationName, Localizer["Track"].Value.ToLowerInvariant(), Departure.TrackNumber);

        private string TurnusText => 
            Departure is null ? string.Empty :
            $"{Departure.Loco.OperatorName} {Localizer["Turnus"]} {Departure.Loco.TurnusNumber}";


    private string LocoText =>
        Departure is null ? string.Empty :
        $"{LocoType} {Departure.Loco.Class} {Departure.Loco.VehicleNumber}";

    string LocoType => Departure is null ? string.Empty : Departure.Loco.IsRailcar ? Localizer["Railcar"] : Localizer["Loco"];
}
