@inject IStringLocalizer<App> Localizer

@if (Item != null)
{
    <div class="pocket frame">

        <svg>
            <line style="stroke:@CrossLineColor;stroke-width:5" x1="50mm" y1="0mm" x2="0mm" y2="91mm" />
        </svg>
        <div>
            <div class="schedule header">
                <div>@Localizer[Item.Type + "Turnus"]</div>
                <div><strong>@Item.Operator @Item.Number&nbsp;@OperationDays(Item)</strong></div>
                @if (Item.Class.HasValue())
                {
                    <div>
                        @if (Item.IsLoco)
                        {
                            <span>@Localizer["Class"]:&nbsp;<strong>@Item.Class</strong></span>
                        }
                        else if (Item.IsTrainset)
                        {
                            <span>@Localizer["Class"]:&nbsp;<strong>@Item.Class</strong></span>
                        }
                        @if (Item.NumberOfUnits > 1)
                        {
                            <span>&times;@Item.NumberOfUnits</span>
                        }
                    </div>
                }
            </div>
            <div>
                @Item.Note
            </div>
            <div class="schedule item">
                <table width="100%" style="border-collapse: collapse">
                    <thead>
                        <tr style="border-bottom: 1px solid gray">
                            <th>@Localizer["Train"]</th>
                            <th colspan="2">@Localizer["From"]</th>
                            <th colspan="2">@Localizer["To"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Item.TrainParts != null) foreach (var part in Item.TrainParts)
                            {
                                <tr style="border-bottom: 1px solid gray">
                                    <td>@part.TrainNumber</td>
                                    <td>@part?.FromDeparture?.Station?.Signature</td>
                                    <td>@part?.FromDeparture?.Time</td>
                                    <td>@part?.ToArrival?.Station?.Signature</td>
                                    <td>@part?.ToArrival?.Time</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="pocket alert">
                @if (Item.TurnForNextDay)
                {
                    <span>@Localizer["TurnForNextDay"]</span>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public VehicleSchedule? Item { get; set; }
    [Parameter] public string CrossLineColor { get; set; } = "pink";

    string OperationDays(VehicleSchedule schedule) => schedule.OperationDays.IsSingleDay ? schedule.OperationDays.FullName : schedule.OperationDays.ShortName;
}
