@inject IStringLocalizer<App> Localizer

<PocketCard>
    @if (Item is not null)
    {
        <svg>
            <line style="stroke: @Item.CrossLineColor();" x1="50mm" y1="0mm" x2="0mm" y2="91mm" />
        </svg>
        <div>
            <div class="schedule header">
                <div><strong>@Item.Operator</strong> @Item.TurnusTypeName()</div>
                <div>@ScheduleHeader(Item):&nbsp;<strong>@Item.Turnus&nbsp;@OperationDays(Item)</strong></div>
                @if (Item.Class.HasValue())
                {
                    <div>
                        <span>@ClassOrContent(Item):&nbsp;<strong>@ClassAndNumber(Item)</strong></span>
                    </div>
                }
            </div>
            <div>
                @FormatNote(Item.Note())
                @if (Item.ReplaceOrder > 0)
                {
                    <span class="spare">@Localizer[SpareType(Item)] @Item.ReplaceOrder</span>
                }
            </div>
            <div class="schedule item">
                <table width="100%" style="border-collapse: collapse">
                    <thead>
                        <tr style="border-bottom: 1px solid gray">
                            <th align="left">@Localizer["Train"]</th>
                            <th align="left" colspan="2">@Localizer["From"]</th>
                            <th align="left" colspan="2">@Localizer["To"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Item.TrainParts != null) foreach (var part in Item.TrainParts)
                            {
                                <tr style="border-bottom: 1px solid gray">
                                    <td>@part.TrainNumber</td>
                                    <td>@part?.FromDeparture?.Station?.Signature</td>
                                    <td>@part?.FromDeparture?.Time</td>
                                    <td>@part?.ToArrival?.Station?.Signature</td>
                                    <td>@part?.ToArrival?.Time</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="schedule alert">
                @if (Item.TurnForNextDay)
                {
                    <span>@Localizer["TurnForNextDay"]</span>
                }
            </div>
        </div>
    }
</PocketCard>

@code {
    [Parameter] public VehicleSchedule? Item { get; set; }

    string OperationDays(VehicleSchedule schedule) => schedule.OperationDays.IsSingleDay ? schedule.OperationDays.FullName : schedule.OperationDays.ShortName;

    LocalizedString ScheduleHeader(VehicleSchedule schedule) => Localizer["Turnus"];
    LocalizedString ClassOrContent(VehicleSchedule it) => it.IsCargoOnly ? Localizer["Content"] : Localizer["Class"];
    string ClassAndNumber(VehicleSchedule it) => $"{it.Class} {it.VehicleNumber}";

    string SpareType(VehicleSchedule it) => it is LocoSchedule s ? s.IsRailcar ? "SpareRailcar" : "SpareLoco" : "SpareWagon";
    string FormatNote(string? text) => string.IsNullOrWhiteSpace(text) ? string.Empty :
    !text.TrimEnd().EndsWith(".") ? text.TrimEnd() + ". " : text + " ";


}
