@page "/stationstrainorder"

@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject PrintedReportsService DataService
@inject IOptions<AppSettings> Options

@if (Items is null)
{

}
else
{
    <RefreshButton OnClick="OnInitializedAsync" />

    foreach (var station in Items)
    {
        foreach (var itemsPerPage in station.Trains.ItemsPerPage(28))
        {
            <A4LPage>
                <div class="stationtrainorder">
                    <h1>@station.Name @itemsPerPage.First().SortTime.AsTime() - @itemsPerPage.Last().SortTime.AsTime()</h1>
                    <table cellpadding="3">
                        <thead>
                            <tr>
                                <th class="col">@Localizer["Days"]</th>
                                <th class="col">@Localizer["Arrival"]</th>
                                <th class="col">@Localizer["Departure"]</th>
                                <th class="col">@Localizer["Train"]</th>
                                <th class="col">@Localizer["Track"]</th>
                                <th class="col">@Localizer["From"]</th>
                                <th class="col">@Localizer["To"]</th>
                                <th class="col">@Localizer["Notes"]</th>
                                <th class="day">@Localizer["SundayShort"]</th>
                                <th class="day">@Localizer["MondayShort"]</th>
                                <th class="day">@Localizer["TuesdayShort"]</th>
                                <th class="day">@Localizer["WednesdayShort"]</th>
                                <th class="day">@Localizer["ThursdayShort"]</th>
                                <th class="day">@Localizer["FridayShort"]</th>
                                <th class="day">@Localizer["SaturdayShort"]</th>
                                <th class="day">@Localizer["Note"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in itemsPerPage)
                            {
                                <tr>
                                    <td class="col">@item.OperatingDayFlag.OperationDays().ShortName</td>
                                    <td class="col @item.OriginCssClass()">@item.ArrivalTime</td>
                                    <td class="col @item.DestinationCssClass()">@item.DepartureTime</td>
                                    <td class="col">@item.TrainIdentity()</td>
                                    <td class="col">@item.TrackNumber</td>
                                    <td class="col">@item.Origin()</td>
                                    <td class="col">@item.Destination()</td>
                                    <td class="col">@item.TrainCategory()</td>
                                    <td class="day"></td>
                                    <td class="day"></td>
                                    <td class="day"></td>
                                    <td class="day"></td>
                                    <td class="day"></td>
                                    <td class="day"></td>
                                    <td class="day"></td>
                                    <td class="day" style="width: 6cm"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </A4LPage>
        }
    }
}


@code {
    private IEnumerable<StationTrainOrder>? Items;

    protected override async Task OnInitializedAsync()
    {
        var settings = Options.Value;
        var result = await DataService.GetStationsTrainOrderAsync(settings.LayoutId);
        if (result.statusCode.IsSuccess())
        {
            Items = result.items;
        }
    }


}
