@page "/stationstrainorder"

@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject PrintedReportsService DataService

@if (Items is null)
{
    <CreatingReport />
}
else
{
    <RefreshButton OnClick="OnInitializedAsync" />

    foreach (var station in Items)
    {

        foreach (var itemsPerPage in station.Pages(35).ToList())
        {
            <A4LPage>
                <div class="stationtrainorder">
                    <h1>@station.Name @itemsPerPage.First().SortTime.AsTime() - @itemsPerPage.Last().SortTime.AsTime()</h1>
                    <table cellpadding="3">
                        <thead>
                            <tr>
                                <th class="col">@Localizer["Train"]</th>
                                <th class="col">@Localizer["Days"]</th>
                                <th class="col">@Localizer["Track"]</th>
                                <th class="col">@Localizer["Arr"]</th>
                                <th class="col">@Localizer["From"]</th>
                                <th class="col">@Localizer["Dep"]</th>
                                <th class="col">@Localizer["To"]</th>
                                @if (IsSundayFirstDay)
                                {
                                    <th class="day">@Localizer["SundayShort"]</th>                               
                                }
                                <th class="day">@Localizer["MondayShort"]</th>
                                <th class="day">@Localizer["TuesdayShort"]</th>
                                <th class="day">@Localizer["WednesdayShort"]</th>
                                <th class="day">@Localizer["ThursdayShort"]</th>
                                <th class="day">@Localizer["FridayShort"]</th>
                                <th class="day">@Localizer["SaturdayShort"]</th>
                                @if (IsMondayFirstDay)
                                {
                                    <th class="day">@Localizer["SundayShort"]</th>
                                }
                                <th class="note">@Localizer["Note"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in itemsPerPage)
                            {
                                <tr style="@item.RowStyle()">
                                    <td class="col" style="font-weight: bold">@item.TrainIdentity()</td>
                                    <td class="col">@item.OperatingDayFlag.OperationDays().ShortName</td>
                                    <td class="col">@item.TrackNumber</td>
                                    <td class="col @item.OriginCssClass()">@item.DisplayedArrivalTime()</td>
                                    <td class="coll @item.OriginCssClass()">@item.Origin()</td>
                                    <td class="col @item.DestinationCssClass()">@item.DisplayedDepartureTime()</td>
                                    <td class="coll @item.DestinationCssClass()">@item.Destination()</td>
                                    @if (IsSundayFirstDay)
                                    {
                                        <td class="day" style="@item.DayFillColor(0x40)"></td>
                                    }
                                    <td class="day" style="@item.DayFillColor(0x01)"></td>
                                    <td class="day" style="@item.DayFillColor(0x02)"></td>
                                    <td class="day" style="@item.DayFillColor(0x04)"></td>
                                    <td class="day" style="@item.DayFillColor(0x08)"></td>
                                    <td class="day" style="@item.DayFillColor(0x10)"></td>
                                    <td class="day" style="@item.DayFillColor(0x20)"></td>
                                    @if (IsMondayFirstDay)
                                    {
                                        <td class="day" style="@item.DayFillColor(0x40)"></td>
                                    }
                                    <td class="note" width="500">
                                        @foreach (var note in item.Notes)
                                        {
                                            <span style="display: block">@((MarkupString)note.ToString()) </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </A4LPage>
        }
    }
}


@code {
    private IEnumerable<StationTrainOrder>? Items;
    private Layout? Layout;

    protected override async Task OnInitializedAsync()
    {
        Items = null;
        var layoutResult = await DataService.GetLayoutAsync();
        if (layoutResult.statusCode.IsSuccess())
        {
            Layout = layoutResult.item;
            var result = await DataService.GetStationsTrainOrderAsync(Layout!.Id);
                Items = result.statusCode.IsSuccess() ? result.items : [];
        }
    }

    bool IsSundayFirstDay => Layout is null ? false : Layout.StartWeekdayId == 7;
    bool IsMondayFirstDay => !IsSundayFirstDay;


}
