@page "/stationinstructions"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject Services.PrintedReportsService DataService
@inject IOptions<AppSettings> Options

@if (Instructions is null)
{
    <CreatingReport />
}
else
{
    foreach (var station in Instructions)
    {
        @if (station.StationInfo!.HasCombinedInstructions)
        {
            <A5Page>
                <h1>@station.StationInfo.Name - @Localizer["Instructions"]</h1>
                <div>
                    @station.StationInstructionsMarkdown.ToHtml()
                </div>
                <div>
                    @station.ShuntingInstructionsMarkdown.ToHtml()
                </div>
            </A5Page>
        }
        else
        {
            <A5Page>
                <h1>@station.StationInfo.Name - @Localizer["StationInstructions"]</h1>
                <div>
                    @station.StationInstructionsMarkdown.ToHtml()
                </div>
            </A5Page>
            <A5Page>
                <h1>@station.StationInfo.Name - @Localizer["ShuntingInstructions"]</h1>
                <div>
                    @station.ShuntingInstructionsMarkdown.ToHtml()
                </div>
            </A5Page>
        }
    }
}

@code {
    IEnumerable<StationInstruction>? Instructions;

    protected override async Task OnInitializedAsync()
    {
        var layoutResult = await DataService.GetLayoutAsync();
        if (layoutResult.statusCode.IsSuccess())
        {
            var result = await DataService.GetStationInstructionsAsync(layoutResult.item!.Id);
            if (result.statusCode.IsSuccess())
            {
                Instructions = result.items;
            }
        }
    }
}
